/*                      */
/* –– Robert Zuniga ––> */
/*                      */

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  background: #777;
  font-size: 18px;
}

header {
  width:960px;
  height: 75px;
  line-height: 75px;
  margin: auto;
  margin-bottom: 5px;
  color: #333;
  background: #ebebeb;
}

#mynav {
  width:960px;
  height: 75px;
  line-height: 75px;
  margin: auto;
  margin-bottom: 15px;
  color: #333;
  background: #ebebeb;
}

section {
  /* padding: 20px; */
  width:960px;
  height: 300px;
  margin: auto;
  margin-bottom: 10px;
  background: #ebebeb;
}

#myarticle {
    float: center;
    float: bottom;
    width: 95%;
    height: 175px;
    margin: auto;
    margin-top: 50px;
    color: #ebebeb;
    background: #777;
}

#full {
  width: 960px;
  height: 310px;
  overflow: auto;
  clear: both;
  color: #fff;
  background: transparent;
}

#mysection {
  float: left;
  margin-right: 10px;
  width: 60%;
  height: 300px;
  color:#777;
  background: white;
 
}

#myasideinner {
    float: center;
    float: bottom;
    width: 495px;
    height: 50px;
    line-height: 50px;
    margin: auto;
    margin-top: 5px;
    color:#ebebeb;
    background:white;
  }

#myaside {
    float: right;
    width: 38%;
    height: 300px;
    /*
    padding: 20px;
    margin-left: 30px;
    */
    color: #777;
    background: #ebebee;
  }

footer {
  clear: both;
  width:960px;
  height: 75px;
  margin: auto;
  line-height: 75px;
  background: #ebebeb;
}
